@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import "modules/colors";
@import "modules/all";
@import "partials/reset";
@import "partials/nav";
@import "partials/header";
@import "partials/sectionOne";
@import "partials/sectionTwo";
@import "partials/sectionThree";
@import "partials/calculator";
@import "partials/lastSection";
@import "partials/footer";


