.container {
  width: 1352px;
  margin: 0 auto;
}

/* nav */

nav {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 70px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    height: 70px;
  }

  .logoWord {
    color: $azure-dark;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    width: auto;
  }

  .menuList {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;

    li {
      list-style: none;
      margin-right: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2.98px;
        color: $greyish;
        font-size: 11px;
        position: relative;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
          color: $black;
        }
      }

      &:hover::after {
        content: "";
        width: 83.9px;
        height: 4px;
        bottom: 0;
        position: absolute;
        background-position: bottom;
        background-color: $azure-light;
      }
    }
  }
}


/* header*/

header {
  width: 100%;
  height: 100vh;
  margin-top: 130px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-image: url("../images/Background.png");

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 16px;
    font-weight: normal;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 440px;
    height: 67px;
    background-color: $azure-light;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  }
}

/* section one */

.sectionOne {
  margin-bottom: 226px;

  h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 63px;
      height: 63px;
      border-radius: 50%;

      &:nth-of-type(1) {
        background-color: $watermelon;
      }

      &:nth-of-type(2) {
        background-color: $azure-dark;
      }

      &:nth-of-type(3) {
        background-color: $aqua-marine;
      }
    }

    img {
      position: absolute;
      left: 31px;
      top: 6px;
      display: flex;
    }

    div:nth-of-type(2) img {
      top: 12px;
    }

    p {
      position: absolute;
      font-family: "Raleway", serif;

      &:nth-of-type(1) {
        top: 66px;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 5px;
      }

      &:nth-of-type(2) {
        top: 119px;
        font-size: 17px;
        text-align: center;
        color: $greyish;
        box-sizing: content-box;
        width: 168px;
        word-break: normal;
      }
    }
  }


}

/*section two */

.sectionTwo {
  background-color: $white;
  position: relative;
  padding-top: 105px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  h3 {
    font-size: 36px;
    font-weight: normal;
  }

  p {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 22px;
  }

  .container {
    width: 1124px;
  }

  article {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #E8E9ED;
    background-color: #ffffff;
    height: 370px;
    margin-bottom: 37px;
  }
}

/*Article One */

.left1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 382px;
  position: relative;

  &:after {
    content: "";
    position: relative;
    background-position: bottom;
    width: 327.64px;
    height: 4px;
    background-color: $watermelon;
  }
}

.right1 {
  width: 433px;
}


.right2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 366px;
  position: relative;
}

.right1 img {
  width: 386.44px;
  height: 219px;
  position: relative;
}

.left2 img {
  width: 440px;
  height: 370px;
  position: relative;
}

#art3 {
  width: 1124px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
}

.left3 {
  width: 623.04px;
  height: 370px;
  margin-right: 60.96px;
  position: relative;
  border: 1px solid #E8E9ED;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;

  h3 {
    width: 480px;
  }

  p {
    width: 480px;
    position: relative;
    height: auto;
  }

  &:after {
    content: "";
    position: relative;
    background-position: bottom;
    width: 327.64px;
    height: 4px;
    background-color: $aqua-marine;
  }
}

.right3 {
  width: 440px;
  height: 370px;
  position: relative;
  background-color: $aqua-marine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trumpet {
  width: 295.13px;
  height: 205.93px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right2:after {
  content: "";
  position: relative;
  background-position: bottom;
  width: 327.64px;
  height: 4px;
  background-color: $azure-two;
}

.right1:before {
  position: absolute;
  content: "";
  right: 100px;
  top: 40px;
  width: 180px;
  height: 180px;
  background-color: $watermelon;
  border-radius: 41px;
  transform: rotate(45deg);
}

.left2:before {
  position: absolute;
  content: "";
  left: 70px;
  top: 10px;
  width: 320px;
  height: 320px;
  background-color: $azure-two;
  border-radius: 50%;
}


/* sectionThree */

.sectionThree {
  margin-bottom: 155px;

  h3 {
    font-size: 36px;
    font-weight: normal;
    align-self: center;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
  }

  .container {
    width: 1266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.priceList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .cash {
    font-weight: 300;
  }
  p {
    font-size: 12px;
    font-family: Raleway, serif;
    font-weight: bold;
  }

  .priceListLeft {
    width: 372px;
    border: 1px solid $watermelon;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 73px;
    padding-top: 34px;

    .cash {
      color: $darkish-pink;
      font-size: 46px;
      &.One {
        margin-bottom: 69px;
      }
    }
  }

  .priceListMiddle {
    width: 405px;
    border: 1px solid $azure-two;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
    position: relative;
    padding-bottom: 79px;
    padding-top: 34px;

    .cash {
      color: $azure-light;
      font-size: 46px;
    }
  }

  .priceListRight {
    width: 372px;
    border: 1px solid $aqua-marine;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 73px;
    padding-top: 34px;
    .cash {
      color: $aqua-marine;
      font-size: 46px;
    }
  }
}


.o1 {
  margin-bottom: 80px;
}

.o2 {
  margin-bottom: 66px;
}

.orderOptions {
  font-size: 14px;
  font-family: "Open Sans", serif;
  margin-bottom: 25px;
  position: relative;

  &.checkmark:before {
    background-image: url("../images/icons/Ckechmark-1.svg");
    width: 11px;
    height: 11px;
    content: "";
    position: absolute;
    left: -15px;
    top: 3px;
  }

  &.close:before {
    background-image: url("../images/icons/Close.svg");
    width: 11px;
    height: 11px;
    content: "";
    position: absolute;
    left: -15px;
    top: 3px;
  }
}



.order.button {
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;

  &.left {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    background-color: $darkish-pink;
  }

  &.middle {
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    background-color: $azure-light;
  }

  &.right {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    background-color: $aqua-marine;
  }
}

/* Last Section */

.container_lastSection {
  width: 896px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;

  span {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 22px;
  }
}

.lastSection_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 163px;
}

.left_information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lastSection_right form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sendButton {
  width: 226px;
  height: 57px;
  border: 0 solid;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  background-color: $azure-light;
}

/* footer */

footer div {
  background-color: white;
}