$azure-dark: #08a6e4;
$azure-light: #07ace6;
$azure-two: #07ace6;
$watermelon: #fb3b64;
$aqua-marine: #55dfb4;
$black: #000000;
$greyish: #a5a5a5;
$darkish-pink: #eb476e;
$warm-grey: #707070;
$white: #f7f7f7;
$black-rgba: rgba(0, 0, 0, 0.16);