$azure-dark: #08a6e4;
$azure-light: #07ace6;
$azure-two: #07ace6;
$watermelon: #fb3b64;
$aqua-marine: #55dfb4;
$black: #000000;
$greyish: #a5a5a5;
$darkish-pink: #eb476e;
$warm-grey: #707070;
$white: #f7f7f7;
$border-grey: #95989A;

//Shadows
$grey-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$grey-shadow2: 0 -3px 40px rgba(0, 0, 0, 0.16);
$aqua-shadow: 0 3px 6px rgba(7, 172, 230, 0.16);
$aqua-shadow-Mid: 5px 10px 14px rgba(7, 172, 230, 0.16);
$aqua-shadowBig: 5px 10px 27px rgba(7, 172, 230, 0.16);
$darkish-pink-shadow: 0 3px 6px rgba(235, 71, 110, 0.16);